@media screen and (max-width: 1100px) {
    .con{
        width:25vw;
    }
    .charts {
        margin-top: 20px;
        /* border: 1px solid black; */
        justify-content: center;
        flex-direction: column;
    }

    #myChart {
        max-width: 65vw;
    }

    #myLineChart {
        max-width: 65vw;

    }

    .des {
        height: 120px;
        width: 28vw;
    }
}

@media screen and (max-width: 700px) {
    .con{
        width:30vw;
    }
    .material-symbols-outlined{
        display: flex;
    }
nav{
    display: flex;
}
    .sidebar {
        /* position: relative; */
        left: -30vw;
        width:27vw;
        top: 50px;
    }
    header h1{
        font-size: 4vw;
    }
    .sidebar a {
        padding-left: 20px;
        line-height: 30px;
        font-size: 3vw;
    }
    .sidebar .content i{
        font-size:3vw;
    
    }
    
    .board {
        /* display: block; */
        margin-left: 0%;
        padding:0 20px;
        width: 100vw;

    }
    .head{
        font-size: 1vw;
    }

    .charts {
        margin-top: 20px;
        /* border: 1px solid black; */
        justify-content: center;
        flex-direction: column;
    }

    #myChart {
        max-width: 100%;
    }

    #myLineChart {
        max-width: 100%;

    }
head{
    top: 50px;
}
    .des {
        height: 120px;
        width: 37vw;
        margin: 10px;
    }
    .main{
        margin-left: 0;
        width: 100vw;
    }
}

@media screen and (max-width: 465px){
    .con{
        width:50vw;
    }
    .sidebar {
        width: 40vw;
        left: -50vw;
        
    }
    header h1{
        font-size: 5vw;
    }
    .sidebar a {
        padding-left: 20px;
        line-height: 30px;
        font-size: 4vw;
    }
    .sidebar .content i{
        font-size:4vw;
    
    }
    .des{
        padding: 14px;
        margin: 10px;
        height: 90px;
        width: 36vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .des span{
        font-size:x-large;
    }
    .des h2{
        font-size:1.2rem;
        color: #ffffff;
        font-weight: bold;
        
    }
    .charts {
        width: 100%;
    }
    #myChart{
        font-size: medium;
    
      
    }
    #myLineChart{
        font-size:small; 
    }
    main{
        margin-left: 0;
        width: 100vw;
    }
}