/* style */
* {
    margin: 0%;
    padding: 0%;
    /* text-decoration: none; */
/* overflow: scroll; */

}

body {
    background-color: #b1b7c1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* display: block; */
    /* overflow: scroll; */
}

h1 {
    padding: 20px;
    color: #b1b7c1;
}

header {
    padding: 15px;
    height: 100vh;
    width: 20vw;
    position: fixed;
    display: block;
    flex-direction: column;
    /* Align items vertically */
    justify-content: flex-start;
    text-align: center;
    background-color: black;
}

header a {
    font-size: x-large;
    text-decoration: none;
    /* background-color: #ff6b81; */
    border-radius: 10px;
    display: block;
    color: #b1b7c1;

}
header .content{
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    margin-left: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b1b7c1;

}
.board {
    margin-left: 21%;
    width:76vw;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* background-color: white; */
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    font-size: larger;
      
    /* border: 2px solid black; */

}

.des {
    display: flex;
    flex: grow 3;
    padding: 20px;
    margin: 20px;
    height: 120px;
    width: 220px;
    border: 1px solid black;
    justify-content:center;
    flex-direction: column;
    align-items: left;
    border-radius: 5px;
    background-color:#0dcaf0;
}
.des span{
    font-size: xx-large;
    font-weight: bolder;
}
.des h2{
    font-size:large;
    color: #ffffff;
    font-weight: bold;
    
}
 #a {
background-color: #ff7675;
 }
 #b{
    background-color: #81ecec;
 }
 #c{
    background-color: #778ca3;
 }
 #d{
    background-color: #7d5fff;
 }
 #f{
    background-color: #ffaf40;
 }
.charts{
    margin-top: 50px;
    width:76vw;
    border: 1px solid black;
    display: flex;
    padding: 40px;
}

#myChart{
    background-color: white;
}
#chart{
    display: block;
    
    background-color: white;
}
form {
    /* position: absolute; */
    font-size: larger;
    top: 20%;
    right: 10%;
    margin: 10px;

}
.sub{
    padding: 10px;
    height: 20px;
    width: 30px;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 30px;
    font-size: larger;
}

.main {
    margin-left: 20%;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* #myChart {
    display: flex;
    /* position: fixed; */
    /* top: 50%;


}

#Chart {
    top: 50%; */

/* }  */